.about {
   padding-top: 135px;
   padding-bottom: 105px;

   // .about__container

   &__container {
      display: flex;
      flex-direction: column;
      gap: 135px;
   }
   @media (max-width: 834px) {
      &__container {
         gap: 80px;
      }
   }

   // .about__company

   &__company {
      display: flex;
      column-gap: 75px;
   }
   @media (max-width: 1200px) {
      &__company {
         column-gap: 40px;
      }
   }
   @media (max-width: 982px) {
      &__company {
         flex-direction: column;
         column-gap: 0;
         row-gap: 40px;
      }
   }

   // .about__company-content

   &__company-content {
      display: flex;
      flex-direction: column;
      row-gap: 100px;
   }
   @media (max-width: 1200px) {
      &__company-content {
         row-gap: 50px;
      }
   }

   // .about__title

   &__title {
      @include title-size;
   }

   // .about__text

   &__text {
      display: flex;
      flex-direction: column;
      row-gap: 24px;
      max-width: 770px;
      font-size: 24px;
      p {
         font-size: 1em;
      }
      span {
         display: inline-block;
         font-weight: 700;
         color: var(--btn-color);
      }
   }
   @media (max-width: 1440px) {
      &__text {
         font-size: 16px;
      }
   }
   @media (max-width: 834px) {
      &__text {
         font-size: 14px;
         row-gap: 12px;
      }
   }

   // .about__company-image

   &__company-image {
      // max-width: 796px;
      border-radius: 20px;
      overflow: hidden;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}

@media (max-width: 1440px) {
   .about {
      padding-top: 100px;
      padding-bottom: 100px;
   }
}
@media (max-width: 834px) {
   .about {
      padding-top: 80px;
      padding-bottom: 60px;
   }
}
@media (max-width: 390px) {
   .about {
      padding-top: 60px;
      padding-bottom: 60px;
   }
}

.customers {
   display: flex;
   flex-direction: column;
   row-gap: 72px;

   // .customers__title

   &__title h2 {
      @include title-size;
   }

   &__wrapper {
   }

   // .customers__list

   &__list {
   }

   // .customers__item

   &__item {
   }
   &__img {
      margin-bottom: 40px;
   }
}

@media (max-width: 1140px) {
   .customers {
      row-gap: 53px;
      font-size: 54px;
   }
}

/*-----------------Swiper------------------*/

.swiper {
   position: relative;
   width: 100%;
}
.swiper-wrapper {
}
.swiper-slide {
}

/* Основной стиль для кнопок */
.swiper-button-next,
.swiper-button-prev {
   top: auto !important;
   bottom: 0 !important;
   font-size: 1rem; /* Исходный размер шрифта иконок */
   color: red; /* Основной цвет иконок */
   opacity: 0.5; /* Полупрозрачность */
   transition: all 0.3s ease-in-out;
   transform: scale(0.3); /* Масштабируем иконки в половину исходного размера */
}

/* Эффекты при наведении */
.swiper-button-next:hover,
.swiper-button-prev:hover {
   opacity: 1;
   transform: scale(0.5); /* Немного увеличенный масштаб при наведении */
}

.swiper-button-next::after,
.swiper-button-prev::after {
   color: red; /* Красный цвет иконок */
}
