/*-----------------.footer------------------*/

.footer {
   padding-top: 100px;
   padding-bottom: 100px;
   background-color: var(--btn-color);
   color: var(--bg-color-secondary);

   // .footer__container

   &__container {
      display: flex;
      flex-direction: column;
      row-gap: 115px;
   }
   @media (max-width: 1440px) {
      &__container {
         row-gap: 90px;
      }
   }
   @media (max-width: 1100px) {
      &__container {
         row-gap: 50px;
      }
   }

   // .footer__logo

   &__logo {
      leading-trim: both;
      text-edge: cap;
      font-size: 85px;
      font-weight: 800;
      line-height: 105%; /* 90.069px */
      text-transform: uppercase;
   }
   @media (max-width: 834px) {
      &__logo {
         font-size: 50px;
      }
   }
   @media (max-width: 390px) {
      &__logo {
         font-size: 30px;
      }
   }

   // .footer__body

   &__body {
      display: flex;
      justify-content: space-between;
      column-gap: 20px;
      align-items: end;
      width: 100%;
   }

   @media (max-width: 760px) {
      &__body {
         flex-direction: column;
         align-items: start;
         column-gap: 0px;
         row-gap: 40px;
      }
   }
   &__inner {
      display: flex;
      flex-basis: 820px;
      justify-content: space-between;
      column-gap: 20px;
   }
   @media (max-width: 1440px) {
      &__inner {
         flex-basis: 675px;
      }
   }
   @media (max-width: 1100px) {
      &__inner {
         flex-direction: column;
         align-items: end;
         column-gap: 0px;
         row-gap: 50px;
      }
   }
   @media (max-width: 760px) {
      &__inner {
         flex-basis: auto;
         row-gap: 30px;
      }
   }

   // .footer__email

   &__email {
      display: flex;
      flex-direction: column;
      row-gap: 28px;
      header {
         font-size: 24px;
      }

      a {
         display: inline-block;
         position: relative;
         font-size: 70px;
         font-weight: 700;
         line-height: 80%; /* 56px */
         z-index: 3;
      }
      @media (max-width: 1440px) {
         header {
            font-size: 16px;
         }
         a {
            font-size: 40px;
         }
      }
      @media (max-width: 390px) {
         header {
            font-size: 12px;
         }
         a {
            font-size: 32px;
         }
      }
   }
   &__email a::after {
      position: absolute;
      content: "";
      bottom: -3px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: currentColor;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
      z-index: -3;
   }
   &__email a:hover::after {
      transform: scaleX(1);
   }
   @media (max-width: 760px) {
      &__email {
      }
   }

   // .footer__name

   &__name,
   &__policy {
      font-size: 24px;
      font-weight: 500;
      line-height: 80%; /* 33.6px */
      display: flex;
      flex-direction: column;
      row-gap: 28px;
   }
   @media (max-width: 1440px) {
      &__name,
      &__policy {
         font-size: 20px;
      }
   }
   @media (max-width: 760px) {
      &__name,
      &__policy {
         row-gap: 16px;
      }
   }
   @media (max-width: 430px) {
      &__name,
      &__policy {
         font-size: 14px;
      }
   }
}
@media (max-width: 1440px) {
   .footer {
      padding-bottom: 60px;
   }
}
@media (max-width: 834px) {
   .footer {
      padding-top: 80px;
   }
}
@media (max-width: 390px) {
   .footer {
      padding-top: 5 0px;
      padding-bottom: 50px;
   }
}
