//* Кнопка бургера

.burger {
   display: none;
   bottom: -60px;
   cursor: pointer;
   height: 40px;
   border: none;
   background-color: var(--secondary-color);
   padding-left: 6px;
   padding-right: 6px;
   margin-right: -75px;
   border-radius: 6px;
   box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.14);
   transform: none;
   transition: transform 0.3s ease-in-out;

   // .burger__line

   &__line {
      width: 28px;
      height: 2px;
      margin-bottom: 3px;
      background-color: var(--btn-hover-color);
      display: block;
      transform: none;
      transition: transform 0.3s ease-in-out;
   }
}
@media (max-width: 1100px) {
   .burger {
      display: block;
   }
}
@media (max-width: 590px) {
   .burger {
      margin-right: 0;
      margin-left: auto;
   }
}

//* Поведение кнопки бургера при клике

.burger.active .burger__line:nth-child(1) {
   transform: rotate(45deg) translate(5px, 5px);
}
.burger.active .burger__line:nth-child(2) {
   opacity: 0;
}
.burger.active .burger__line:nth-child(3) {
   transform: rotate(-45deg) translate(2px, -3px);
}
/*-----------------------------------*/

.header-wrapper {
   position: relative;
   z-index: 9999;
   width: 100%;
   max-width: 100%;
}
.header {
   height: 100px;
   background: var(--bg-color);
   box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.24);
   width: 100%;
   max-width: 100%;
   position: fixed;
   font-size: 20px;
   font-family: Raleway;

   // .header__container

   &__container {
      height: 100%;
      position: relative;
      z-index: 9999;
   }

   // .header__inner

   &__inner {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 60px;
      // position: relative;
      z-index: 5;
   }
   @media (max-width: 1200px) {
      &__inner {
         column-gap: 0px;
      }
   }

   // .header__logo

   &__logo {
      display: flex;
      span {
         display: block;
         width: 100%;
         // padding: 0 30px;
         align-self: center;
         color: var(--accent-color);
         font-family: Mulish;
         font-size: 36px;
         font-style: normal;
         font-weight: 800;
         line-height: 105%; /* 37.8px */
         text-transform: uppercase;
      }
      img {
      }
   }

   // .header__menu

   &__menu {
      width: 100%;
      display: flex;
      justify-content: space-between;
      // position: relative;
      z-index: 5;
   }
   @media (max-width: 1100px) {
      &__menu {
         justify-content: flex-end;
         width: fit-content;
      }
   }
   @media (max-width: 590px) {
      // &__menu {
      //    display: none;
      // }
      .header__right-panel {
         display: none;
      }
   }

   // .header__contacts

   &__right-panel {
   }
}
@media (max-width: 1440px) {
   .header {
      font-size: 16px;
   }
}
@media (max-width: 1200px) {
   .header {
      font-size: 14px;
   }
}

@media (max-width: 834px) {
   .header {
      height: 60px;
   }
}

.menu {
   // .menu__body

   &__body {
      width: 50%;
      display: flex;
      gap: clamp(2.75rem, -2.875rem + 6.25vw, 4.625rem);
      align-self: center;
      position: relative;
      z-index: 5;
   }
   .burger__logo {
      display: none;
      margin-bottom: 22px;
      span {
         display: block;
         width: 100%;
         // padding: 0 30px;
         align-self: center;
         color: var(--accent-color);
         font-family: Mulish;
         font-size: 36px;
         font-style: normal;
         font-weight: 800;
         line-height: 105%; /* 37.8px */
         text-transform: uppercase;
      }
      img {
      }
   }
   .burger__discuss {
      display: none;
      position: absolute;
      bottom: 30px;
      left: 30px;
   }

   .close-svg {
      display: none;
      position: absolute;
      right: 40px;
      top: 10px;
   }

   @media (max-width: 1100px) {
      &__body {
         background-color: var(--bg-color-secondary);
         position: absolute;
         width: 50%;
         height: 100vh;
         right: -100%;
         top: 0;
         flex-direction: column;
         gap: 24px;
         padding-top: 30px;
         padding-left: 35px;
         transform: translateY(100px);
         transition: right 0.3s ease-in-out;
      }
      // .menu__body.active

      &__body.active {
         right: 0;
      }
      .burger__logo {
         display: block;
      }
      .burger__discuss {
         display: block;
      }
      .close-svg {
         display: block;
      }
   }
   @media (max-width: 834px) {
      &__body {
         top: -40px;
      }
      &__body.active {
         right: -11px;
      }
   }
   @media (max-width: 600px) {
      &__body {
         width: 100%;
      }
   }

   // .menu__item

   &__item {
      padding: 10px 0;
      position: relative;
      font-size: inherit;
      &:hover .dropdown-direction,
      &:hover .dropdown-equipment,
      &:hover .dropdown-services {
         opacity: 1;
         visibility: visible;
      }
   }
   &__item > a::after {
      content: "";
      position: absolute;
      top: 17px;
      right: -11px;
      width: 0;
      height: 0;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      border-top: 6px solid var(--accent-color);
      transition: 0.5s ease;
   }
   &__item:hover > a::after {
      transform: rotate(180deg);
   }
   @media (max-width: 1100px) {
      &__item {
         padding: 0;
         width: fit-content;
         font-size: 16px;
         font-weight: 500;
         line-height: 71%;
      }
      &__item a::after {
         right: auto;
         top: 5px;
         transform: translateX(5px);
      }
      &__item:hover > a::after {
         transform: rotate(180deg) translateX(-5px);
      }
   }

   // .menu__dropdown

   &__dropdown {
   }
}
.dropdown-direction {
   opacity: 0;
   visibility: hidden;
   transition:
      opacity 0.3s ease,
      visibility 0.3s ease;
   position: absolute;
   top: calc(100% + 30px); /* Тень мешает, не знаю как пофиксить */
   // top: 100%;
   left: 0;
   width: 285px;
   border-radius: 0px 0px 20px 20px;
   background: #fff;
   box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.24);
   z-index: 1;

   // .dropdown-direction__menu
   &__menu {
      padding-right: 30px;
      padding-bottom: 30px;
      padding-left: 30px;
      padding-top: 18px;
   }

   // .dropdown-direction__item

   &__item {
      position: relative;
      transition: transform 0.3s ease-in-out;
      &::before {
         position: absolute;
         content: "";
         top: 17px;
         left: 0px;
         width: 7px;
         height: 7px;
         background-color: var(--accent-color);
         border-radius: 50%;
      }
      &::after {
         position: absolute;
         content: "";
         left: 0;
         right: 0;
         bottom: 0;
         width: 100%;
         height: 1px;
         background: #d7d7d7;
      }
      a {
         width: 100%;
         display: inline-block;
         padding-top: 12px;
         padding-bottom: 12px;
         padding-left: 18px;
         cursor: pointer;
      }
   }
}

@media (max-width: 1100px) {
   .dropdown-direction {
      top: calc(100% + 20px);
      border-radius: 0 0 10px 10px;
      &__menu {
         padding-top: 5px;
         padding-bottom: 20px;
         padding-left: 20px;
      }

      &__item a {
         padding-top: 15px;
         padding-bottom: 0;
      }
      &__item::after {
         display: none;
      }
   }
   .menu__item:hover ~ .menu__item {
      transition: transform 0.3s ease-in-out;
   }
   .menu__item-direction:hover ~ .menu__item-equipment,
   .menu__item-direction:hover ~ .menu__item-services {
      transform: translateY(150px);
   }
   .menu__item-equipment:hover ~ .menu__item-services {
      transform: translateY(209px);
   }
}
/*-----------------.dropdown-hidden------------------*/
.dropdown-hidden {
   display: none;
}

@media (max-width: 1100px) {
   .dropdown-hidden {
      display: block;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      position: absolute;
      top: calc(100% + 20px);
      left: 0;
      max-width: 360px;
      transition:
         opacity 0.3s ease-in-out,
         visibility 0.3s ease-in-out;
      background-color: #fff;
      border-radius: 0px 0px 10px 10px;
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.24);

      &__menu {
         padding: 20px;
         display: flex;
         flex-direction: column;
         gap: 15px;
      }
      &__item {
         position: relative;
         padding-left: 18px;
      }
      &__item::before {
         position: absolute;
         content: "";
         width: 8px;
         height: 8px;
         left: 0;
         top: 2px;
         border-radius: 50%;
         background-color: var(--btn-hover-color);
      }
      &__link {
         white-space: nowrap;
         font-size: 14px;
         font-style: normal;
         font-weight: 500;
         line-height: 120%; /* 16.8px */
         color: #2f2f2f;
      }
   }
}
.menu__item:hover .dropdown-hidden {
   opacity: 1;
   visibility: visible;
   pointer-events: all;
}

/*-----------------.dropdown-equipment------------------*/

.dropdown-equipment {
   position: absolute;
   display: flex;
   justify-content: space-between;
   max-width: 1640px;
   padding: 50px;
   column-gap: 10px;
   border-radius: 0px 0px 20px 20px;
   background: #fff;
   box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.24);
   width: auto;
   left: 15px;
   right: 15px;
   opacity: 0;
   max-height: 0;
   overflow: hidden;
   pointer-events: none;
   transition:
      opacity 0.3s ease,
      max-height 0.3s ease;

   // .dropdown-equipment__left

   &__left {
      max-width: 508px;
      flex-shrink: 1;
      flex-grow: 1;
   }

   // .dropdown-equipment__right

   &__right {
      max-width: 922px;
      flex-shrink: 1;
      flex-grow: 0;
   }
}
.dropdown-equipment.is-open {
   opacity: 1; /* Полностью видимый */
   max-height: 628px; /* Раскрывается до максимума */
   pointer-events: auto; /* Пользователь может взаимодействовать */
}

@media (max-width: 1440px) {
   .dropdown-equipment {
      padding: 40px;
   }
   .dropdown-equipment__right {
      max-width: 716px;
   }
}
@media (max-width: 1100px) {
   .dropdown-equipment {
      display: none;
      max-width: 360px;
      border-radius: 0;
      padding: 20px;
      top: 285px;
      left: auto;
      right: 173px;
      // transform: translateX(200%);
      z-index: 9;
      &__left {
         font-size: 14px;
      }
      &__right {
         display: none;
      }
      .left-side__menu {
         gap: 16px;
      }
      .left-side__menu span {
         font-style: normal;
         font-weight: 500;
         line-height: 120%; /* 16.8px */
      }
      .left-side__menu span::after {
         display: none;
      }
      .left-side__item::before {
         top: 5px;
         left: -17px;
      }
   }
}

.left-side {
   // .left-side__menu

   &__menu {
      display: flex;
      flex-direction: column;
      gap: 60px;
   }
   @media (max-width: 1440px) {
      &__menu {
         gap: 45px;
      }
   }

   // .left-side__item

   &__item {
      margin-left: 17px;
      color: var(--text-color);
      font-size: 24px;
      font-weight: 600;
      line-height: 120%; /* 28.8px */
      position: relative;
      &::before {
         position: absolute;
         content: "";
         top: 10px;
         left: -20px;
         width: 7px;
         height: 7px;
         background-color: var(--accent-color);
         border-radius: 50%;
      }
   }
   @media (max-width: 1440px) {
      &__item {
         font-size: 14px;
      }
   }
   @media (max-width: 1100px) {
      &__item {
      }
   }

   // .left-side__button

   &__button {
      background-color: transparent;
      padding: 0;
      text-align: left;
      border: none;
      outline: none;
      span {
         position: relative;
      }
      span::after {
         position: absolute;
         content: "";
         width: 0;
         left: 0;
         bottom: -4px;
         height: 1px;
         background-color: var(--btn-hover-color);
         transition: width 0.2s ease-in;
      }
      &.active span::after {
         width: 100%;
      }
   }
}
.right-side {
   // .right-side__box

   &__box {
      display: none;
   }

   // .right-side__items

   &__items {
      display: inline-flex;
      gap: 20px 23px;
      flex-wrap: wrap;
      // width: 100%;
   }
   @media (max-width: 1440px) {
      &__items {
         gap: 10px;
      }
   }

   // .right-side__item

   &__item {
      max-width: 292px;
      padding: 20px;
      border-radius: 20px;
      border: 1px solid var(--bd-color-item);
      background: var(--bg-color-secondary);
      transition: all 0.3s ease-in-out;
      h4 {
         padding-bottom: 14px;
         font-size: 18px;
      }
      @media (max-width: 1440px) {
         h4 {
            padding-bottom: 10px;
            font-size: 14px;
         }
      }
      &:hover {
         box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.24);
      }
   }
   &__item {
      img {
         border-radius: 20px;
         overflow: hidden;
      }
      @media (max-width: 1440px) {
         img {
            border-radius: 10px;
            height: 100px;
            width: 190px;
         }
      }
   }
}
.right-side .active {
   display: block;
}

/*------------------.dropdown-services-----------------*/

.dropdown-services {
   opacity: 0;
   visibility: hidden;
   transition:
      opacity 0.3s ease,
      visibility 0.3s ease;
   position: absolute;
   top: calc(100% + 30px);
   // top: 100%;
   left: 0;
   width: 285px;
   border-radius: 0px 0px 20px 20px;
   background: #fff;
   box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.24);
   z-index: 2;

   // .dropdown-services__menu

   &__menu {
      padding-right: 30px;
      padding-bottom: 30px;
      padding-left: 30px;
      padding-top: 18px;
   }

   // .dropdown-services__item

   &__item {
      position: relative;
      &::before {
         position: absolute;
         content: "";
         top: 17px;
         left: 0px;
         width: 7px;
         height: 7px;
         background-color: var(--accent-color);
         border-radius: 50%;
      }
      &::after {
         position: absolute;
         content: "";
         left: 0;
         right: 0;
         bottom: 0;
         width: 100%;
         height: 1px;
         background: #d7d7d7;
      }
      a {
         width: 100%;
         display: inline-block;
         padding-top: 12px;
         padding-bottom: 12px;
         padding-left: 18px;
         cursor: pointer;
      }
   }

   // .dropdown-services__link

   &__link {
   }
}
@media (max-width: 1100px) {
   .dropdown-services {
      top: calc(100% + 20px);
      max-width: 300px;
      border-radius: 0 0 10px 10px;
      &__menu {
         padding-top: 8px;
         padding-right: 20px;
         padding-bottom: 20px;
         padding-left: 20px;
      }
      &__item::after {
         display: none;
      }
      &__item a {
         line-height: 120%;
         padding-top: 15px;
         padding-bottom: 0;
      }
   }
}

.right-panel {
   display: flex;
   gap: clamp(1.313rem, -2.25rem + 3.96vw, 2.5rem);
   align-items: center;

   // .right-panel__search

   // &__search {
   //    button {
   //       display: flex;
   //       justify-content: center;
   //       align-items: center;
   //       padding: 12px;
   //       flex-shrink: 0;
   //       border-radius: 6px;
   //       background: var(--secondary-color);
   //       box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.14);
   //       color: var(--accent-color);
   //       transition: box-shadow 0.3s ease-in-out;
   //    }
   //    @media (max-width: 1050px) {
   //       button {
   //          padding: 10px;
   //       }
   //    }
   //    button:hover {
   //       box-shadow: 0px 0px 2px 1px var(--accent-color);
   //    }
   //    button svg {
   //       transition: transform 0.3s ease-in-out;
   //    }
   //    button:hover svg {
   //       transform: scale(1.1);
   //    }
   // }

   // .right-panel__phone

   &__phone {
      color: var(--text-color);
      @include fluid-text(20, 16);
      line-height: 71%; /* 14.2px */
      display: flex;
      flex-direction: column;
      gap: 12px 0;
      p {
         margin: 0;
      }
      a {
         display: inline-block;
         @include fluid-text(16, 14);
         font-style: normal;
         font-weight: 400;
         line-height: 71%; /* 9.94px */
      }
      a:hover {
         //сделать плавное появление
         text-decoration: underline;
      }
   }

   @media (max-width: 1100px) {
      &__phone {
         display: none;
      }
   }

   // .right-panel__discuss

   &__discuss {
      @include fluid-text(20, 14);
      display: flex;
      // gap: clamp(0.375rem, -0.298rem + 0.77vw, 0.625rem);
      gap: 10px;
      padding-top: 15px;
      padding-right: 20px;
      padding-bottom: 15px;
      padding-left: 24px;
      align-items: center;
      border-radius: 6px;
      flex-shrink: 0;
      span {
         display: inline-block;
         color: var(--secondary-color);
         line-height: 71%; /* 14.2px */
      }
      svg {
         color: var(--secondary-color);
         transition: all 0.4s ease;
      }

      &:hover svg {
         transform: rotate(180deg);
      }
   }
}

@media (max-width: 1440px) {
   .right-panel__discuss {
      padding-top: 10px;
      padding-right: 16px;
      padding-bottom: 10px;
      padding-left: 16px;
      gap: 6px;
   }
}
.item {
   font-size: 18px;
}
@media (max-width: 1440px) {
   .item {
      font-size: 14px;
   }
}
