.management {
   // .management__container

   &__container {
   }

   // .management__title

   &__title {
   }

   // .management__subtitle

   &__subtitle {
      max-width: 1020px;
      line-height: 120%;
   }
   @media (max-width: 768px) {
      &__subtitle {
         max-width: 550px;
      }
   }

   // .management__cards

   &__cards {
   }

   // .management__card

   &__card {
      h4 {
         line-height: 120%;
         text-wrap: balance;
      }
   }
   &__image {
      height: 100%;
      width: 100%;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}
