.partners-hero {
   // .partners-hero__container

   &__container {
   }

   // .partners-hero__title

   &__title {
      max-width: 1100px;
      padding-bottom: 25px;
   }
   @media (max-width: 1100px) {
      &__title h1 {
         max-width: 750px;
      }
   }
   @media (max-width: 768px) {
      &__title h1 {
         max-width: 550px;
      }
   }

   // .partners-hero__subtitle

   &__subtitle {
      max-width: 969px;
      padding-bottom: 0px;
   }
   @media (max-width: 1440px) {
      &__subtitle {
         max-width: 802px;
      }
   }
   @media (max-width: 1100px) {
      &__subtitle {
         max-width: 720px;
      }
   }
   @media (max-width: 768px) {
      &__subtitle {
         max-width: 620px;
      }
   }
}
@media (max-width: 1440px) {
   .partners-hero {
      padding-bottom: 80px;
   }
}
@media (max-width: 1100px) {
   .partners-hero {
      padding-bottom: 50px;
   }
}
@media (max-width: 768px) {
   .partners-hero {
      padding-bottom: 30px;
   }
}
