.resources {
   padding-top: 100px;
   padding-bottom: 100px;

   // .resources__container

   &__container {
      display: flex;
      flex-direction: column;
      gap: 50px;
   }

   // .resources__title

   &__title {
      h2 {
         font-size: 70px;
      }
   }

   // .resources__cards

   &__cards {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
   }

   // .resources__card

   &__card {
      display: flex;
      flex-direction: column;
      gap: 30px;
      background-color: var(--bg-color-secondary);
      border-radius: 20px;
      padding: 30px;
      p {
         max-width: 460px;
      }
   }
}
