/*-----------------.resources------------------*/

.resources {
   padding-top: 100px;
   padding-bottom: 100px;

   // .resources__container

   &__container {
      display: flex;
      flex-direction: column;
      gap: 50px;
   }

   // .resources__title

   &__title {
   }

   // .resources__cards

   &__cards {
   }

   // .resources__card

   &__card {
      gap: 30px;
      background-color: var(--bg-color-secondary);
      p {
         max-width: 460px;
      }
   }
   @media (max-width: 1440px) {
      &__card {
         svg {
            width: 50px;
            height: 50px;
         }
      }
   }
   @media (max-width: 834px) {
      &__card {
         svg {
            width: 40px;
            height: 40px;
         }
      }
   }
}
