/*-----------------structure------------------*/
.structure {
   padding-top: 100px;
   padding-bottom: 100px;
   background-color: var(--bg-color-secondary);

   // .structure__container

   &__container {
      display: flex;
      flex-direction: column;
      gap: 50px;
   }

   @media (max-width: 1440px) {
      &__container {
         gap: 40px;
      }
   }
   @media (max-width: 834px) {
      &__container {
         gap: 24px;
      }
   }

   // .structure__title

   &__title {
      // font-size: 54px;
      h2 {
      }
   }
   @media (max-width: 1100px) {
      &__title {
         // font-size: 40px;
      }
   }
   @media (max-width: 640px) {
      &__title {
         // font-size: 22px;
      }
   }

   // .structure__cards

   &__cards {
   }

   // .structure__card

   &__card {
      gap: 20px;
      background-color: var(--bg-color);
      div {
         color: var(--accent-color);
         font-variant-numeric: lining-nums proportional-nums;
         font-family: Raleway;
         font-size: 40px;
         font-style: normal;
         font-weight: 600;
         line-height: 100%; /* 40px */
         text-transform: uppercase;
      }
   }

   @media (max-width: 1440px) {
      &__card {
         div {
            font-size: 32px;
         }
      }
   }
   @media (max-width: 1100px) {
      &__card {
         div {
            font-size: 24px;
         }
      }
   }
   @media (max-width: 768px) {
      &__card {
         gap: 12px;
         div {
            font-size: 20px;
         }
      }
   }
}
@media (max-width: 1100px) {
   .structure {
      padding-top: 80px;
      padding-bottom: 80px;
   }
}
@media (max-width: 834px) {
   .structure {
      padding-top: 60px;
      padding-bottom: 60px;
   }
}
