.structure {
   padding-top: 100px;
   padding-bottom: 100px;
   background-color: var(--bg-color-secondary);

   // .structure__container

   &__container {
      display: flex;
      flex-direction: column;
      gap: 50px;
   }

   // .structure__title

   &__title {
      h2 {
         color: var(--btn-color);
         font-size: 70px;
      }
   }

   // .structure__cards

   &__cards {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
   } 

   // .structure__card

   &__card {
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-width: 520px;
      padding: 30px;
      border-radius: 20px;
      background: var(--bg-color);
      div {
         color: var(--accent-color);
         font-variant-numeric: lining-nums proportional-nums;
         font-family: Raleway;
         font-size: 40px;
         font-style: normal;
         font-weight: 600;
         line-height: 100%; /* 40px */
         text-transform: uppercase;
      }
      p {
         font-size: 24px;
         line-height: 120%;
      }
   }
}
