/*
*Десктопы и ноутбуки:
1920x1080 — Full HD
1600x900
1440x900
1366x768
1280x800
1280x720

*Планшеты:
1024x768 (iPad)
800x600
768x1024 (вертикальная ориентация iPad)

*Смартфоны:
375x667 (iPhone SE/6/7/8)
414x896 (iPhone XR/Xs Max)
360x640 (Samsung Galaxy S5)
360x740 (Pixel 3a)
320x568 (iPhone 5/SE)
*/

:root {
   --accent-color: #04457e;
   --secondary-color: #f4f8ff;
   --text-color: #2f2f2f;
   --link-text-hover: #3b3b3bdc;
   --btn-color: #003666;
   --btn-hover-color: #002a50;
   --bg-color-secondary: #f2f7fd;
   --bd-color-item: #e1e1e1;
   --bg-color: #fafcff;
   --error-color: #c70700;
}

.hero-base {
   padding-top: 60px;
}
@media (max-width: 1100px) {
   .hero-base {
      padding-top: 45px;
   }
}

.text {
   color: var(--text-color);
   font-size: inherit;
   font-style: normal;
   font-weight: 500;
   line-height: 140%; /* 28px */
}
.button {
   border-radius: 6px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 16px;
   column-gap: 6px;
   span {
      color: #f4f8ff;
      font-family: Mulish;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 71%; /* 9.94px */
   }
   svg {
      transition: transform 0.3s ease;
   }
   background-color: var(--btn-color);
   transition: background 0.4s ease-in-out;
   &:hover {
      background-color: var(--btn-hover-color);
   }
   &:hover svg {
      transform: rotate(180deg);
   }
}
//*-----------------block-padding----------------//
.pb-120 {
   padding-bottom: 120px;
}
@media (max-width: 1440px) {
   .pb-120 {
      padding-bottom: 100px;
   }
}
@media (max-width: 1100px) {
   .pb-120 {
      padding-bottom: 80px;
   }
}
@media (max-width: 768px) {
   .pb-120 {
      padding-bottom: 60px;
   }
}
.pt-120 {
   padding-top: 120px;
}
@media (max-width: 1440px) {
   .pt-120 {
      padding-top: 100px;
   }
}
@media (max-width: 1100px) {
   .pt-120 {
      padding-top: 80px;
   }
}
@media (max-width: 768px) {
   .pt-120 {
      padding-top: 60px;
   }
}
.pt-100 {
   padding-top: 100px;
}
@media (max-width: 1100px) {
   .pt-100 {
      padding-top: 80px;
   }
}
@media (max-width: 768px) {
   .pt-100 {
      padding-top: 50px;
   }
}
.pb-100 {
   padding-bottom: 100px;
}
@media (max-width: 1100px) {
   .pb-100 {
      padding-bottom: 80px;
   }
}
@media (max-width: 768px) {
   .pb-100 {
      padding-bottom: 50px;
   }
}

//*----------------img-block---------------//
.img-block {
   // .img-block__inner

   &__inner {
      background-color: #e47676;
      height: 100%;
      padding-bottom: 100px;
   }

   // .img-block__container

   &__container {
      @include flex-column(50);
      justify-content: flex-end;
      height: 100%;
      p {
         color: var(--bg-color-secondary);
         font-size: 54px;
         font-weight: 700;
         line-height: 100%; /* 54px */
         max-width: 90%;
      }
      p + p {
         // color: var(--bg-color-secondary);
         font-size: 32px;
         font-weight: 700;
         line-height: 100%; /* 32px */
         max-width: 95%;
         text-wrap: balance;
      }
   }
   @media (max-width: 1440px) {
      &__container {
         gap: 30px;
         p {
            font-size: 40px;
         }
         p + p {
            font-size: 24px;
         }
      }
   }
   @media (max-width: 834px) {
      &__inner {
         padding-bottom: 80px;
      }
      &__container {
         gap: 16px;
         p {
            font-size: 32px;
         }
         p + p {
            font-size: 16px;
         }
      }
   }
   @media (max-width: 768px) {
      &__inner {
         padding-bottom: 50px;
      }
      &__container {
         p {
            font-size: 24px;
            max-width: auto;
         }
         p + p {
            font-size: 14px;
         }
      }
   }
   @media (max-width: 500px) {
      &__inner {
         padding-bottom: 30px;
      }
      &__container {
         p {
            font-size: 22px;
         }
         p + p {
            font-size: 12px;
         }
      }
   }
}
//*-------------.image-block--------------*/
//?-------------mobile-first----------------/

.image-block {
   width: 100%;
   height: 240px;
}
.image-block img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
@media (min-width: 769px) {
   .image-block {
      height: 400px;
   }
}
@media (min-width: 1025px) {
   .image-block {
      height: 600px;
   }
}
@media (min-width: 1441px) {
   .image-block {
      height: 900px;
   }
}
/*------------------.large-----------------*/
.large {
   height: 900px;
}
@media (max-width: 1440px) {
   .large {
      height: 600px;
   }
}
@media (max-width: 834px) {
   .large {
      height: 400px;
   }
}
@media (max-width: 500px) {
   .large {
      height: 300px;
   }
}
.small {
   height: 558px;
}
@media (max-width: 1100px) {
   .small {
      height: 385px;
   }
}
@media (max-width: 768px) {
   .small {
      height: 250px;
   }
}
.bg-gray {
   background: var(--bg-color-secondary);
}
