:root {
   --accent-color: #04457e;
   --secondary-color: #f4f8ff;
   --text-color: #2f2f2f;
   --link-text-hover: #3b3b3bdc;
   --btn-color: #003666;
   --btn-hover-color: #005bac;
   --bg-color-secondary: #f2f7fd;
   --bd-color-item: #e1e1e1;
   --bg-color: #fafcff;
}


//*-----.title-large-------
.title-large {
   color: var(--accent-color);
   font-family: Mulish;
   font-size: inherit;
   font-style: normal;
   font-weight: 700;
   line-height: 105%; /* 89.25px */
   text-transform: uppercase;
}

//*-----.title-medium-------

.title-medium {
   color: var(--accent-color);
   font-family: Mulish;
   font-size: inherit;
   font-style: normal;
   font-weight: 700;
   line-height: 120%; /* 84px */
   text-transform: capitalize;
   font-variant-numeric: lining-nums proportional-nums;
}

//*-----.title-medium-------

.title-small {
   color: var(--accent-color);
   font-family: Mulish;
   font-size: inherit;
   font-style: normal;
   font-weight: 700;
   line-height: 80%; /* 32px */
   font-variant-numeric: lining-nums proportional-nums;
}

//*-----.text-------

.text {
   color: var(--text-color);
   font-family: Raleway;
   font-size: inherit;
   font-style: normal;
   font-weight: 500;
   line-height: 140%; /* 28px */
}
.button {
   background-color: var(--btn-color);
   transition: background 0.4s ease-in-out;
   &:hover {
      background-color: var(--btn-hover-color);
   }
}
